/* GLOBAL */
/* ---------------- */
html {
  color: white;
  background-color: black;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

img {
  max-width: 100%;
}

a {
  color: white;
}

h2 {
  text-align: center;
  padding: 1rem;
}

/* RESET */
/* ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;

  li {
    display: inline;

    a {
      text-decoration: none;
    }
  }
}

/* ENTRY */
/* ------------------- */
#entry {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.entry__nav {
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;

  ul li a {
    padding-inline: 1rem;
  }

}

.entry__welcome {
  text-align: justify;
}

/* PROJECTS */
/* ------------------- */
#projects {

  #projects__cards {
    margin: 3rem 4rem;


    .projects__just-card {
      background-color: lightgray;
      color: black;
      border-radius: 0 0rem 1rem 1rem;

      img {
        background-color: white;
        transition: .3s ease-in-out;
      }

      img:hover {
        background-color: blueviolet;
      }

      .projects__text {
        padding: 1.4rem 1.4rem 3rem;

        h3 {
          text-align: center;
          margin-bottom: .8rem;
        }

        p {
          margin-bottom: .8rem;
        }

        a {
          color: purple;
        }

        .projects__text--links {
          text-align: center;

        }

      }

    }


  }

}