/* VARIABLES */
/* ---------------- */
/* RESET */
/* ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline;
}

/* GLOBAL */
/* ---------------- */
:root {
  color: #e3e3e3;
  background: #1A181B;
  background: radial-gradient(circle, #1A181B 0%, #070707 100%);
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

img {
  max-width: 100%;
}

a {
  color: #FF5D73;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #FFD6DA;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 2rem;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

/* ENTRY */
/* ------------------- */
#entry {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#entry .entry__welcome {
  margin-inline: 4rem;
}

.entry__nav {
  font-size: 18px;
  background-color: rgba(0, 49, 61, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entry__nav ul li a {
  padding-inline: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}
.entry__nav ul li a:hover {
  color: #FF5D73;
  text-shadow: 4px 4px 6px #1A181B;
}

/* PROJECTS */
/* ------------------- */
#projects #projects__cards {
  margin: 3rem;
}
#projects #projects__cards .projects__just-card {
  background-color: #1A181B;
  border-radius: 0 0 1rem 1rem;
}
#projects #projects__cards .projects__just-card img {
  background-color: #e3e3e3;
  transition: 0.3s ease-in-out;
}
#projects #projects__cards .projects__just-card img:hover {
  background-color: #FF5D73;
}
#projects #projects__cards .projects__just-card .projects__text {
  padding: 1.4rem 1.4rem 2rem;
}
#projects #projects__cards .projects__just-card .projects__text h3 {
  margin-bottom: 1.4rem;
}
#projects #projects__cards .projects__just-card .projects__text p {
  margin-bottom: 2rem;
}
#projects #projects__cards .projects__just-card .projects__text .projects__text--links {
  text-align: center;
}
#projects #projects__cards .projects__just-card .projects__text .projects__text--links a {
  font-size: 18px;
  padding-inline: 1rem;
}

/* CONTACT */
/* ------------------- */
#contact {
  padding: 2rem 1rem;
}
#contact .contact__links {
  margin: 2rem;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact__links ul li {
  display: block;
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */
/* ------------------- */
@media only screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  #projects #projects__cards {
    margin: 1.2rem;
  }
  #contact {
    padding: 1rem 0;
  }
  #contact .contact__links {
    font-size: 18px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #projects #projects__cards {
    margin: 2rem;
  }
  #projects #projects__cards .projects__just-card .projects__text .projects__text--links a {
    font-size: 16px;
  }
  #contact .contact__links {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
