.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  z-index: 10;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  gap: 2em;
  list-style: none;
}
