#welcome {
  font-size: large;
  min-height: 100vh;
  text-align: start;
}

.welcome-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-name {
  font-size: x-large;
}

.welcome-info-dump {
  max-width: 540px;
}

#welcome-heading {
  font-size: 1em;
  font-weight: normal;
}

.welcome-social {
  > ul {
    display: flex;
    gap: 2em;
    padding: 0;
    list-style-type: none;
    font-size: larger;
    > li {
      /* background-color: aliceblue; */
      background-color: var(--button-bg);
      border-radius: 0.4em;
      padding: 0.2em 0.5em;
    }
  }
}
